<div class="container tapi-paragraph">
    <div class="row">
        <div class="col-md-2">
            <h2 class="source-title">{{name}}</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row pb-3">
        <div class="col-md-12">
            <pre class="code-snippet line-numbers language-{{language}}"
                 data-prismjs-copy="Copy">
<code id="{{name}}"></code></pre>
        </div>
    </div>
</div>
