body {
  color: #999999;
  font-family: "Avenir Next Cyr W00 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  color: #575756;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2.source-title {
  font-size: 1em;
  font-weight: normal;
  color: #575756;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pre[class*="language-"] {
  width: 60em;
}
