<link rel="stylesheet" href="{{root_url}}example.css" />

<div class="container">
  <h1>{{title}}</h1>
  <p>{{description}}</p>
  <iframe src="https://codesandbox.io/embed/github/transportapi/usage-examples/tree/master/examples/{{directory}}?hidenavigation=1&hidedevtools=1&view=preview&module=%2Fmain.js"
          style="width:70em; height:500px; border:0; overflow:hidden;"
          sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts">
  </iframe>

  <h2 class="source-title">main.js</h2>
  <span id="main.js"></span>

  <h2 class="source-title">index.html</h2>
  <span id="index.html"></span>

  <h2 class="source-title">index.css</h2>
  <span id="index.css"></span>

  <h2 class="source-title">response.json</h2>
  <span id="response.json"></span>
</div>
