.example-container {
  display: inline-block;
  margin: 0.65em 15px;
}

a.example-box {
  display: inline-block;
  overflow: hidden;
  width: 30em;
  height: 150px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(204, 204, 204, 0.4);
  text-decoration: none;
  border-radius: 5px;
}

a.example-box:hover {
  background-color: rgba(204, 204, 204, 0.8);
  color: rgb(42, 100, 150);
}

a.example-box h2 {
  margin-top: 0.3em;
  font-size: 1.5em;
}
